/*Colors
Blue: #5abbe2
Red: #c01d2e
Green: #9ac959

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif
}

body {
    font-family: 'Lato', sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}


/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/solarpanels.jpeg");
    min-height: 100%;
}

.w3-navbar li a {
    padding: 16px;
}

.tk-red,
.tk-hover-red:hover {
    color: black!important;
    background-color: #d93646!important
}

.tk-green,
.tk-hover-green:hover {
    color: black!important;
    background-color: #95d936!important
}

.tk-blue,
.tk-hover-blue:hover {
    color: black!important;
    background-color: #36a9d8!important
}

.visioncard {
    min-height: 400px;
}

.tk-blue-hover:hover {
    background-color: #36a9d8!important;
}