/*Colors
Blue: #5abbe2
Red: #c01d2e
Green: #9ac959

*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Source Sans Pro", sans-serif
}

body {
    font-family: 'Lato', sans-serif;
}

body,
html {
    height: 100%;
    line-height: 1.8;
}


/* Full height image header */

.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image: url("../images/solarpanels.jpeg");
    min-height: 100%;
    filter: blur(3px);
}

.w3-navbar li a {
    padding: 16px;
}

.tk-red,
.tk-hover-red:hover {
    color: black!important;
    background-color: #d93646!important
}

.tk-green,
.tk-hover-green:hover {
    color: black!important;
    background-color: #95d936!important
}

.tk-blue,
.tk-blue-hover:hover,
.tk-blue-hover:hover a:hover {
    color: #f1f1f1!important;
    background-color: #36a9d8!important
}

.visioncard {
    min-height: 400px;
}

.content-image {
    max-width: 100%;
    height: auto;
}

.w3-dropdown-content a:hover {
    background-color: #95d936!important
}

.bgimg-pm {
    background-position: center;
    background-size: cover;
    background-image: url("../images/projectmangement.jpg");
    min-height: 50%;
}

.bgimg-research {
    background-position: center;
    background-size: cover;
    background-image: url("../images/signals.jpeg");
    min-height: 50%;
}

.bgimg-women {
    background-position: center;
    background-size: cover;
    background-image: url("../images/women.jpg");
    min-height: 50%;
}

.bgimg-water {
    background-position: center;
    background-size: cover;
    background-image: url("../images/water.jpg");
    min-height: 50%;
}

.bgimg-peace {
    background-position: center;
    background-size: cover;
    background-image: url("../images/peace.jpg");
    min-height: 50%;
}

.bgimg-civil {
    background-position: center;
    background-size: cover;
    background-image: url("../images/civilengineering.jpg");
    min-height: 50%;
}

.bgimg-it {
    background-position: center;
    background-size: cover;
    background-image: url("../images/it.jpg");
    min-height: 50%;
}

.bgimg-mech {
    background-position: center;
    background-size: cover;
    background-image: url("../images/mechanical.jpg");
    min-height: 50%;
}

.bgimg-electrical {
    background-position: center;
    background-size: cover;
    background-image: url("../images/electrical.jpg");
    min-height: 50%;
}

.bgimg-electrical-wide {
    background-position: center;
    background-size: cover;
    background-image: url("../images/electricalpostwide.jpeg");
    min-height: 50%;
}

.tk-text-green,
.tk-hover-text-green:hover,
.tk-text-green,
.tk-hover-text-green:hover {
    color: #95d936!important
}

.tk-text-red,
.tk-hover-text-red:hover,
.tk-text-red,
.tk-hover-text-red:hover {
    color: #d93646!important
}

.tk-text-blue,
.tk-hover-text-blue:hover,
.tk-text-blue,
.tk-hover-text-blue:hover {
    color: #36a9d8!important
}

.tk-sidenav a:hover {
    color: whitesmoke;
    background-color: #36a9d8;
}